<!DOCTYPE html>
<html>
<head>
    <title>Confirmation</title>
</head>
<body>
    <h2>Confirmation</h2>
    <p>Role: {{ role }}</p>
    <p>Name: {{ name }}</p>
    <p>Email: {{ email }}</p>

    <!-- <p>Most Wanted Priority: {{ priority }}</p> -->
    {% for priority in selected_priorities %}
        <li>{{ priority }}</li>
    {% endfor %}
    <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
    <a href="/logout" class="btn btn-primary btn-block">Logout</a>

</body>
</html>
