<!DOCTYPE html>
<html>
<head>
    <title>Make an Account</title>
</head>
<body>
    <h2>Make an Account</h2>
    <form method="post">
        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="mentor">Mentor</option>
            <option value="mentee">Mentee</option>
        </select><br><br>

        <label for="name">Name:</label>
        <input type="name" id="name" name="name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <!-- <label for="priority" style="font-style: italic;">Interests:</label>
        <form method="post">
            {% for item in priority_items %}
                <div>
                    <input type="checkbox" id="{{ item }}" name="priority" value="{{ item }}">
                    <label for="{{ item }}">{{ item }}</label>
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form> -->

        <input type="submit" value="Submit">
    </form>
</body>
</html>
